<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vulcan.com.ion_android" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".SocialApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="vulcan.com.ion_android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity"
                  android:label="@string/signup_title" />
        <activity android:name=".LoginActivity"
            android:label="@string/login_title" />
        <activity android:name=".ImagePostActivity"
            android:label="New Post" />
        <activity android:name=".FetchPostsActivity"
            android:label="Posts" />
    </application>

</manifest>
